body{
    background-color: #7b0828;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hour_marker{
    fill: transparent;
    stroke: #f0f0c9;
    stroke-width: 7;
    stroke-dasharray: 0.2 , 4.8;
    stroke-dashoffset: 0.1;
}

.minute_marker{
    fill:transparent;
    stroke: #0f0e0e;
    stroke-width: 7;
    stroke-dasharray: 0.2 , 0.8;
    stroke-dashoffset: 0.1;
}

.hand{
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
}

.hand--thick{
    stroke-width: 7;
}

.hand--second{
    stroke: yellow;
}

.center{
    fill: #000000;
    stroke-width: 2;
    stroke: white;
}

.text{
    fill: white;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
    cursor: pointer;
    user-select: none;
}